@page "/"

<PageTitle>Home</PageTitle>

<h1>Interactive Game Manual</h1>

<p>Welcome to my game manual for my text-based adventure game (project 1).</p>
<p>This manual will provide some (possibly) helpful information about the game.</p>
<p>Along with an explanation of all the elements of the game.</p>

<h2>Controls</h2>
<p>Use WASD or the arrow keys to move around the map, that's pretty much it.</p>

<h2>How to Win</h2>
<p>To win the game, you must go into the exit tile, which can be found randomly throughout the map.</p>
<p>Getting to that tile might be a little tricky, since you have to navigate through monsters (there are some health potions, though).</p>